<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusGo">
        <activity
            android:name=".activities.user.PaymentMenthodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.PassengerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.SeatSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.PickupDropoffActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.TripDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.SearchTripActivity"
            android:exported="true" />
        <activity
            android:name=".activities.user.BookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.VerificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.auth.ConfirmInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.BusGo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.user.MainActivity"
            android:exported="false" />
    </application>

</manifest>